
@{
    ViewData["Title"] = "Order";

}

<div class="text-center mb-3">
    <h1 class="display-4">Place your order</h1>

</div>
<hr/>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <div class="text-center">
                <h5>Cart items</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id">Remove</a>

                            </td>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Price.ToString("0.00")$</td>
                            <td>@item.Quantity</td>
                            <td>@item.GetTotal().ToString("0.00")$</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                         <td></td>
                          <td></td>
                        <td><b>Total price : @ViewBag.TotalPrice.ToString("0.00")$</b></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="row mt-3">
    <div class ="col">
        <div class="text-center">
            <h5>Personal info</h5>
        </div>

            @if (ViewBag.Error.Count > 0)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @foreach (var error in ViewBag.Error)
                    {
                        <p>@error</p>
                    }
                </div>
            }
    
            <form method="POST" asp-controller="Home" asp-action="CreateOrder">
        <input type="hidden" name="Total" value="@ViewBag.TotalPrice.ToString("0.00")"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="BillingFirstName">First name</label>
                <input type="text" class="form-control" id="BillingFirstName" name="BillingFirstName" />
            </div>
            <div class="form-group col-md-6">
             <label for="BillingLastName">Last name</label>
             <input type="text" class="form-control" id="BillingLastName" name="BillingLastName" />

        </div>
       </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="BillingEmail">Email</label>
                        <input type="text" class="form-control" id="BillingEmail" name="BillingEmail" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BillingPhone">Phone</label>
                        <input type="text" class="form-control" id="BillingPhone" name="BillingPhone" />

                    </div>
                </div>
                <div class="form-row">
                 
                        <label for="BillingAddress">Adress</label>
                        <input type="text" class="form-control" id="BillingAdress" name="BillingAdress" />
                   
                   
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="BillingCity">City</label>
                        <input type="text" class="form-control" id="BillingCity" name="BillingCity" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="BillingCountry">Country</label>
                        <select id="Billing" class="form-control" name="BillingCountry">
                        <option value ="Hrvatska">Hrvatska</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Italija">Italija</option>
                        <option value="Bosna">Bosna</option>
                        </select>
                    </div>
                
                <div class="form-group col-md-6">

                    <label for="BillingZipCode">Zip code</label>
                    <input type="text" class="form-control" id="BillingZipCode" name="BillingZipCode" />


                </div>
                </div>
                <div class="form-group">
                    <label for="Message">Message</label>
                    <textarea class="form-control" name="Message" id="Message" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-success float-right" value="Place order"/>
                </div>
    </form>

        </div>    
        
    </div>
</div>